header > * {
    margin-block: 0.2rem;
}

header {
    h1, input {
        font-size: 1.5rem;
        text-align: center;
    }
    input, input:focus {
        border: none;
        outline: none;
    }
}
header > ul {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-around;
    align-items: center;
}

header > ul > li:first-child {
    list-style-type: none;
}

header > ul > li {
    font-style: italic;
}