.header {
    position: relative;
    --btn-clr: #BBE9FF;
    --fs-size-primary: 1.5rem;
    border: 1px solid transparent;
}

input, input:focus {
    /* border: none; */
    outline: none;
}

.header > * {
    margin-block: 0.2rem;
}

.header > input {
    font-size: var(--fs-size-primary);
    width: fit-content;
    text-align: center;
}

.header {
    h1{
        font-size: var(--fs-size-primary);
        text-align: center;
        font-weight: 600;
    }
    button {
        background-color: var(--btn-clr);
        border: none;
        padding: 0.2rem 0.4rem;
        position: absolute;
        top: 0;
        right: 0.4rem;
        width: 4rem;
        border-radius: 0.4rem;
        display: none;
    }
    .about-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        max-height: 3.9rem;
        max-width: 32.5rem;
        flex: 1;    
    input, span {
        font-size: 0.8rem;
        width: fit-content;
        text-align: center;
        padding-inline: 1rem;
    }
    input {
        max-width: 6rem;
    }
    }
    .about-info > * + * {
        border-left: 1px;
    }
}






.header:hover, .header.editable {
    /* border: 1px solid black; */
    button.edit {
        display: block;
    }
}


div.about-info {
    input, li {
        font-size: 0.8rem;
    }
    input {
        max-width: 5rem;
    }
}