.header {
    position: relative;
    --btn-clr: #BBE9FF;
    --fs-size-primary: 1.4rem;
    --fs-size-secondary: 0.8rem;
    --fw--size-primary: 600;
    --secondary-items-gap: 0.6rem;
    padding: 0;
}

input, input:focus {
    outline: none;
    font-size: var(--fs-size-secondary);
}

.header > * {
    margin-block: 0.2rem;
}

.header > input, .header > h1 {
    font-weight: var(--fw--size-primary);
    font-size: var(--fs-size-primary);
    text-align: center;
    font-style: inherit;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 3.1rem;
    font-size: var(--fs-size-secondary);
    button {
        background-color: var(--btn-clr);
        border: none;
        padding: 0.2rem 0.4rem;
        position: absolute;
        top: 0;
        right: 0.4rem;
        width: 4rem;
        border-radius: 0.4rem;
        display: none;
    }
    .about-info {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;

        input, li {
            text-align: center;
            margin: 0;
            padding: 0;
        }
        li {
            margin-inline: 0.6rem;
        }

    }
    
    .about-info > li:first-child {
        list-style-type: none;
    }
 
}

.header:hover, .header.editable {
    border: 1px solid grey;
    button.edit {
        display: block;
    }
}