.preview-container {
    width: 768px;
    height: 998.40px;
    border: 1px solid rgb(201, 193, 193);
    padding: 38.4px;
    font-size: 0.75rem;
    background-color: white;
}

.preview-container > * + * {
    margin-block: 1rem;
}
